---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Articulos from '../components/Articulos.astro';
import Precios from '../components/Precios.astro';
import Contactanos from '../components/Contactanos.astro'
import ClassicBags from '../components/ClassicBags.astro';
import BigBags from '../components/BigBags.astro';
import Parches from '../components/Parches.astro';
import Joyeros from '../components/Joyeros.astro';


---

<html>

	<style>
		html {
  scroll-behavior: smooth;
}
	</style>
<Layout title="Punto y Coma">
	<main>
		<Header/>
		<div class="pt-[100px] pb-[50px]  sm:px-[170px] sm:pb-[50px] flex justify-center items-center">
			<img height="700" width="700" src="/images/coverphotp.png">
		  </div>
	</main>
	<Articulos id="articulos"/>
	<ClassicBags id="classicbags"/>
	<BigBags id="bigbags"/>
	<Joyeros id="Joyeros"/>
	<Parches id="parches"/>
	<Precios id="precios"/>
	<Contactanos id="contactanos"/>

	<footer class=" text-black py-4">
		<div class="flex container mx-auto justify-between items-center text-1xl font-bold p-4">
		  <h3 class="left-corner">©2024 Punto & Coma</h3>
		  
		  <div class="right-corner">
			<img height="50px" width="50px" src="/images/logo_simplificado negro.png" alt="Logo Negro">
		  </div>
		</div>
	  </footer>
</Layout>
</html>

