---
interface Props {
  id?: string;
}

const { id } = Astro.props;
---
<section id={id}>
<div class="p-[50px] ">
    <img src="/images/articulos imagen canva.jpg">
</div>
<div>
<h1 class="p-7 flex items-center justify-center bg-[#ff8fab] rounded font-bold text-white text-5xl "> Artículos </h1>
</div>
</section>