---
interface Props {
  id?: string;
}

const { id } = Astro.props;
---

<sectio id="bigbags">

    <h3 class="flex justify-center text-center text-white font-bold text-4xl bg-[#69a3b0] p-[30px]">Big Bags</h3>

    <div class="sm:p-[50px] sm:pt-0 sm:pb-0">
        <img src="/images/BIG BAGS CANVA.jpg"/>
    </div>

</section>