---
interface Props {
  id?: string;
}

const { id } = Astro.props;
---
<sectio id="classicbags">
<h3 class="flex justify-center text-center text-white font-bold p-[75px] bg-[#69a3b0] text-4xl">Classic Bags</h3>
<div class="p-[50px] pt-0 pb-0">
  <img src="/images/classic bags image canva.jpg">
</div>
</section>