---
const navItems = [
  { 
    name: 'Artículos', 
    href: '#', 
    subItems: [
      { name: 'Classic Bags', href: '#classicbags' },
      { name: 'Big Bags', href: '#bigbags' },
      { name: 'Cool Stuff', href: '#coolstuff' },
      { name: 'Joyeros', href: '#joyeros'}
    ] 
  },
  { name: 'Parches', href: '#parches' },
  { name: 'Precios', href: '#precios' },
  { name: 'Contáctanos', href: '#contactanos' }
];
---

<head>
  <!-- Include the JavaScript files -->
  <script src="/scripts/menu-toggle.js" defer></script>
  <script src="/scripts/dropdown.js" defer></script>
  <style>
    html {
      scroll-behavior: smooth;
    }
  </style>
</head>

<header class="bg-[#ff8fab] text-white py-2 fixed left-0 top-0 right-0 z-50">
  <div class="container mx-auto flex justify-between items-center px-2">
    <img class="h-6" src="/images/logo_simplificado blanco.png">

    <!-- Desktop Navigation -->
    <nav class="flex justify-around flex-grow items-center text-sm md:text-base relative">
      {navItems.map((item) => (
        <a
          href={item.href}
          class="hover:scale-110 hover:bg-gray-100 hover:text-[#ff8fab] transition-transform duration-300 ease-in-out px-2 py-1 rounded font-bold"
        >
          {item.name}
        </a>
      ))}
    </nav>
  </div>
</header>
