<section>
<h3 class="flex justify-center text-center text-white font-bold p-[30px] text-4xl bg-[#ff8fab]"> Joyeros</h3>
<div class="sm:p-[50px] sm:pt-0 sm:pb-0">
    <img src="/images/Joyero Whiteboard (1).jpg" >
    
  </div>

</section>