<section id="parches">

    <h3 class="flex justify-center text-center text-white font-bold p-[30px] text-4xl bg-[#69a3b0]">Parches</h3>

    <div class="flex flex-wrap md:flex-nowrap justify-between items-center sm:p-[50px] p-[20px]">
    
        <div class=" w-full md:w-1/2 p-2">
          <img src="/images/parches imagen 1.png" alt="Imagen de parches 1" class="w-full">
        </div>
        
        
        <div class="w-full md:w-1/2 p-2">
          <img src="/images/parches imagen 2.png" alt="Image de parches 2" class="w-full">
        </div>
      </div>
      
      <div class="sm:pl-[30px] sm:pr-[30px] pb-[30px]">
      <img src="/images/Letras Parches Canva.jpg">
        </div>

</section>