---
interface Props {
  id?: string;
}

const { id } = Astro.props;
---
<section id="precios">
    <main class=" bg-[#69a3b0]">
        <h3 class="flex justify-center text-center font-bold text-4xl p-[35px] bg-[#69a3b0] text-white">Precios</h3>
        
        <div class="flex flex-col sm:flex-row sm:space-x-4 space-y-4 sm:space-y-0 items-center justify-center p-4">
          <img src="/images/CLASSIC BAGS PRECIO.jpeg" alt="Image 1" class="w-full sm:w-auto h-auto max-w-sm">
          <img src="/images/BIG BAGS PRECIOS.jpeg" alt="Image 2" class="w-full sm:w-auto h-auto max-w-sm">
          <img src="/images/COOL STUFF PRECIO.jpeg" alt="Image 3" class="w-full sm:w-auto h-auto max-w-sm">
        </div>
        <p class="text-white flex justify-center text-center text-1xl pb-7 pt-2 text-pretty">Precios incluyen una letra; letra adicional es C.1000 más.</p>
    
      </main>
</section>

